// - - - - - - - Bootstrap variables (override values in node_modules/bootstrap/scss/_variables.scss - - - - - - //

// Colors
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000;
$light:                #c7d0d9;
$dark: $gray-900;

$blue:    #446e9b !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #cd0200 !default;
$orange:  #fd7e14 !default;
$yellow:  #d47500 !default;
$green:   #3cb521 !default;
$teal:    #20c997 !default;
$cyan:    #3399f3 !default;

$green-300: tint-color($green, 40%) !default;
$red-300: tint-color($red, 40%) !default;

$primary:         #61778F; // #6c839b;
$secondary: $primary;
$success: $primary;
$info: $primary;
$warning: $primary;
$danger: $primary;

$theme-colors: (
     "primary":            #6c839b,
     "secondary":          #6c839b,
     "success":              #6c839b,
     "info":                #6c839b,
     "warning":              #6c839b,
     "danger":               #6c839b,
    "light":             #6c839b,
     "dark":                 #6c839b
);

// Options
// Prefix for :root CSS variables

$variable-prefix:             bs- !default; // Deprecated in v5.2.0 for the shorter `$prefix`
$prefix:                      $variable-prefix !default;

// Spacing

// Body
$body-bg: #f4f4f4;
$body-color: #222;

// Links
$link-color: #2d3741;
$link-shade-percentage:                   20% !default; // Bootstrap 5.3

// Components
$component-active-color:      $white !default;
$component-active-bg:         $primary !default;

$border-color: #8cacbb;
$border-radius:               .1rem; // Not being implemented - why?
$border-radius-lg:            .2rem;
$border-radius-sm:            0rem;
$border-color-translucent:    rgba($black, .175) !default;

// Fonts
$font-family-sans-serif: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;  // Cabin, "Helvetica Neue", Helvetica, Arial, sans-serif;
//$font-family-serif: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, sans-serif;
$font-size-base: 1.1rem;
$popover-font-size:    $font-size-base * .875;

// Tables
//$table-border-color: #dddddd;

// Buttons
$btn-primary-color: #223344;
$btn-primary-bg: #c7d0d9;
$btn-primary-border: #999999;

// Forms
$input-border-color:                      var(--#{$prefix}border-color); // #8cacbb;

// Dropdowns
// Navs
// Navbar
$navbar-dark-color: $gray-200;
$navbar-dark-bg: $dark;
$navbar-dark-border: $border-color;

//// Navbarlinks ??
$navbar-dark-color:                 #2d3741;
$navbar-dark-hover-color:           lighten($navbar-dark-color, 10%);
//$navbar-dark-active-color:          $white !default;
//$navbar-dark-disabled-color:        rgba($white, .25) !default;
//$navbar-dark-toggler-icon-bg:       str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-dark-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23") !default;
//$navbar-dark-toggler-border-color:  rgba($white, .1) !default;

$navbar-light-color:                rgba($black, .5) !default;
$navbar-light-hover-color:          rgba($black, .7) !default;
//$navbar-light-active-color:         rgba($black, .9) !default;
//$navbar-light-disabled-color:       rgba($black, .3) !default;
//$navbar-light-toggler-icon-bg:      str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-light-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23") !default;
//$navbar-light-toggler-border-color: rgba($black, .1) !default;

// Dropdowns
$dropdown-border-color:             var(--#{$prefix}border-color-translucent) !default;
$dropdown-divider-bg:               $dropdown-border-color !default;
$dropdown-link-active-color:        $component-active-color !default;
$dropdown-link-active-bg:           $component-active-bg !default;

$dropdown-border-color:             var(--#{$prefix}border-color-translucent) !default;
$dropdown-dark-color:               $gray-300 !default;
$dropdown-dark-bg:                  $gray-800 !default;
$dropdown-dark-border-color:        $dropdown-border-color !default;
$dropdown-dark-divider-bg:          $dropdown-divider-bg !default;
$dropdown-dark-box-shadow:          null !default;
$dropdown-dark-link-color:          $dropdown-dark-color !default;
$dropdown-dark-link-hover-color:    $white !default;
$dropdown-dark-link-hover-bg:       rgba($white, .15) !default;
$dropdown-dark-link-active-color:   $dropdown-link-active-color !default;
$dropdown-dark-link-active-bg:      $dropdown-link-active-bg !default;

// Pagination
// Jumbotron
// Cards
$card-border-radius: $border-radius;
$card-border-color: #acccdd;
//$card-text: #fff;//@gray-lighter;
//$card-header-bg: red;
$card-header-padding: 10px 15px;
$card-cap-bg: #f3f6f9;

// Tooltips
// Popovers
// Badges
// Modals
//$modal-header-border-color: #386dbb;
// Alerts
// Progress bars
// List group
// Image thumbnails
// Figures
// Breadcrumbs
// Carousel
// Close
// Code
$code-color:                        $body-color; // $pink !default; // Bootstrap 5.3

// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //

// - - - - - - - - - - - - - - - - - CSS variables, if any - - - - -
