// This file contains CSS rules for this theme that aren't covered by Bootstrap, such as additional Tiki theme properties.
// To do: Use variables for global Tiki properties and customize a Tiki variables file per-theme.
$imagePath: "../images/";
// image path use example:
//  body {
//    background-image: url('#{$imagePath}bg.jpg');
//  }

//.pagetitle a {
//  color: $body-color;
//}

$tiki-topmodules-row-sidemargins: 0;
$tiki-topbar-row-sidemargins: -15px;

//body > .container {
//    border: 1px solid #aaaaaa;
//    margin-top: 18px;
//    margin-bottom: 18px;
//}

.container:not(.in-navbar)  {
//  background: #fbfbfb;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.navbar:not(.bg-dark,.bg-light) {
    .nav-link {
        color: var(--bs-body-color);
        &:hover,
        &:active,
        & .highlighted {
            color: var(--bs-secondary-color);
        }
    }
}


.navbar .nav-item {
//  flex: 1 1 auto !important;
  text-align: center;
    * {
        text-align: inherit;
    }
}

.nav-link {
  font-family: $font-family-sans-serif;
  text-transform: uppercase;
  font-weight: 600;
    font-size: .75rem;
  border-left: 1px solid var(--tiki-nav-link-border-left-color);
  border-bottom: 3px solid #09c;
}

.nav-link:hover {
//  color: #ff5c1a;
  border-bottom-color: #ff5c1a;
}

//.middle_outer { Removed because of color mismatch with navbar
//  box-shadow: inset 0 45px 0 0 #efefef;
//}

.module .card-header {
//  background: top left #eae9e0;
  height: .5em;
  text-align: center;
  margin: 0;
  overflow-y: visible;
  margin-bottom: 1rem;
}

.module h3.card-title {
  font-family: Mukta, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
//  line-height: 1.8;
  margin: 0 auto;
  position: relative;
  max-width: 90%;
  font-size: .75rem ;
  top: -13px;
  //color: #666 !important;
  span.moduletitle {
    padding: .125em .5em;
  //  background: #fbfbfb;
  }
}

#col2 .card,
#col3 .card,
#col2 .card .card-header,
#col3 .card .card-header {
    border: none;
}

.card-header {
    padding: 10px 15px 0 10px;
}

body.fullscreen {
    .container,
    #col1 {
        border: none;
    }
}

// // navbars with too many items overflows the container - why is this in the theme file?
//.navbar-expand .navbar-nav {
//    flex-wrap: wrap;
//}

//@include media-breakpoint-up(lg) {
//    .navbar-expand-lg .navbar-nav {
//        flex-wrap: wrap;
//    }
//}

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: .75rem;
  padding-left: .75rem;
}

// UAB (Admin)
// Replicate vertical menu text centering in UAB accordion
button.was-nav-link.accordion-button {
    border-left: 1px solid var(--tiki-nav-link-border-left-color);
    border-bottom: 3px solid #09c;
    span.ms-1.narrow-hide {
    width: 100%;
    text-align: center; }
}

.admin-dashboard {
    padding-top: .5rem;
    div {
        padding: .5rem 0 0 0;
        .nav-link {
            padding-bottom: .75rem;
            font-size: .85rem;
        }
    }
}



