@import 'bootstrap/scss/bootstrap';
@import '@vuepic/vue-datepicker/dist/main.css';

.tiki-form-control {
    @extend .form-control;
    padding: 6px 12px 6px 36px;
}

.dp__theme_light {
    --dp-text-color: var(--bs-body-color);
    --dp-primary-color: var(--bs-primary);
    --dp-secondary-color: var(--bs-secondary);
    --dp-border-color: var(--bs-border-color);
    --dp-menu-border-color: var(--bs-border-color);
}

:root {
    --dp-font-family: var(--bs-body-font-family);
    --dp-font-size: var(--bs-body-font-size);
}