/* Bootswatch theme adapted by the Tiki Community for Tiki Wiki CMS Groupware */
/* Original Bootswatch information:
 * bootswatch v5.2.0
 * Homepage: http://bootswatch.com
 * Copyright 2012-2022 Thomas Park
 * Licensed under MIT
 * Based on Bootstrap
 *
 * Adapted by the Tiki Community for Tiki Wiki CMS Groupware
*/

@import "../../base_files/scss/_tiki-bootstrap_functions"; // 1. Functions are included first (so colors, etc. can be manipulated).

@import "../scss/variables"; // 2. The first value declaration (the theme's) is used when it is declared in more than one imported file.
@import "../scss/variables-dark"; // 3. Values of dark variables if color modes are enabled.
@import "../../../node_modules/bootswatch/dist/superhero/variables"; // 4. Default Bootswatch theme variables.
@import "../../default/scss/variables"; // 5. Adds default variables for any not declared by the theme variables file.
@import "../../default/scss/variables-dark"; // 6. Adds default dark variables for any not declared by the theme dark variables file.

@import "../../base_files/scss/_tiki-variables.scss"; // 7. Default value declarations for Tiki variables (in addition to Bootstrap variables) such as in _tiki-selectors.scss.

@import "../../base_files/scss/_tiki-bootstrap_layout_and_components"; // 8. Remainder of required Bootstrap parts.
@import "../../../node_modules/bootswatch/dist/superhero/bootswatch"; // 9. Bootswatch theme selectors
@import "../../base_files/scss/_tiki-selectors.scss"; // 10. Tiki CSS selectors used globally.
@import "../../base_files/scss/_tiki-pagetop_colors.scss"; // 11. Optionally imported to group (separately) the top and topbar zone components for styling.
//@import "../scss/_tiki-selectors.scss"; // 12. Tiki CSS selectors, including those of external scripts, to be styled by the theme's variables.

@import "../scss/css-variables"; // 13. Imported after default CSS variables to override them.

body.fullscreen { background: $body-bg; }

// override for some cypht background colors
.tiki {
    .inline-cypht {
        .list_controls {
            background: transparent;
        }
    }
    &.mobile.tiki-cypht {
        .content_title {
            &, .list_controls { background: $card-bg; }
        }
    }
}

.tiki_trackers {
    .icon-status-open, .icon-status-pending, .icon-status-closed {
        filter: drop-shadow(0px 0px 1px black);
    }
}
// Increase navbar height to reinstate Bootswatch style
.topbar_modules > * {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

a.linkmodule {
    color: #BBD9F7;
}